<div class="page">
  <img class="poster" src="<%= @movie.image_url %>">

  <div class="header">
    <h1 class="title"><%= @movie.title %></h1>
    <h1 class="year"><%= @movie.year %></h1>
    <h1 class="rate"><%= @movie.rate %></h1>
    <p><%= @movie.description %></p>
  </div>
</div>

<a href="/">home</a>