<div class="page">
  <img class="poster" src="<%= @image_src %>">

  <div class="header">
    <h1 class="title"><%= @title %></h1>
    <h1 class="year"><%= @year %></h1>
    <h1 class="rate"><%= @rate %></h1>
    <p><%= @plot %></p>
  </div>
</div>